@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow');

.button {
    width:80%;
    min-height:20vh;
    margin-bottom: 5vh;
    font-size: 36px;
    font-family:serif;
    text-align:center;
    border-radius: 50px;
    border: 10px outset black;
    cursor: pointer;
}
.button:hover {color: yellow;}
.button:active {
    border-style: inset;
}
body {
    background: black;
    color: grey;
    text-align: center;
}
#calendar {
    display: flex;
    justify-content: center;
    margin:auto;
    font-family: 'PT Sans Narrow',sans-serif;
    width: 100%;
    overflow: scroll-y;
}
#calendar>span {border: 1px solid; min-width:60px;}
#calendar .diff {font-size: 200%;}
.good {background-color: green;}
.ok {background-color: goldenrod;}
.bad {background-color: red;}
#buttons:empty::before {content: "Requires javascript";}
.buttonframe#sleep>.button {background: #008; font-weight: bold;}
.buttonframe#wake>.button {background: #840; font-weight: bold;}
.time {font-weight: normal;}
.time.yesterday:not(:empty)::before {
    content: "↜";
}
.buttonframe{
    display: flex;
    align-content: space-between;
    
}
.side {
    display:flex;
    flex-direction:row;
    padding-top:20px;
    position:relative;
}
.side input {
    position:absolute;
    bottom:0px;
    }
.sidebtn {
    width:60px;
    height: 60px;
    border: 5px black solid;
}
.sidebtn:hover {border-style:outset;border-color:grey;}
.sidebtn:active {border-style:inset;border-color:grey;}
		
#calendar .sleep, #calendar .wake {
    height: 21px;
    cursor: pointer;
}
#calendar .sleep:empty::before,
#calendar .wake:empty::before {content:"--:--";}

#preferences {
    position: fixed;
    background: grey;
    color: white;
    border: 5px outset grey;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    min-height: 270px;
}
#preferences h2 {
    font-size: 120%;
    margin: 0px;
    padding: 0px;
}
#preferences p {
    margin: 0px;
    padding: 0px;
}
#dividinghour {
    width: 50%;
}
#preferences select {
    margin: 0px 5px;
    width: 70px;
    text-align:right;
}
#preferences option {
    text-align: right;
}
/*#quality {
    display: grid;

}*/
.gradient,.gradientflip {
    display: inline;
    padding: 0px 10px;
}
.gradient {
    background: linear-gradient(to right,green,gold,red);
}
<.gradientflip{
    background: linear-gradient(to left,green,gold,red);
}
.range {position: absolute;
        top: -30px;
        width:150px;
       }
#closeprefs {
    position:absolute;
    top:5%;
    right:5%;
    cursor: pointer;
}
